h1{
    background: aqua;
    color: dodgerblue;
}
h2 {
    background: chocolate ;
    color: dodgerblue;
}
li {
    background: #30d21e;
    color: dodgerblue;
}
p {
    background: #31d3cf;
    color: #000000;
}