h1{
    background: aqua;
    color: dodgerblue;
}
h2 {
    background: chocolate ;
    color: dodgerblue;
}
li {
    background: #96d790;
    color: #0b0e11;
}
p {
    background: #31d3cf;
    color: #000000;
}
img {
    width: 200px
}
a{
    text-decoration: none;
}