h1 {
    background: #37942e;

    height: 140px;
    text-align : center;
    border-radius: 20px ;
    align-items:center ;
    justify-content: center;
    display: flex;

}
h2 {
    background: #37942e;
    text-align: center;
    height: 250px;
    border-radius: 20px;
    align-items:center ;
    justify-content: center;
    display: flex;
}

.bloc {

    width: 400px;
    height: 130px;
    /*background: rgba(51, 47, 47, 0.66);*/
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: 0;
    text-align: center;






}
h3 {
    background: #37942e;
    height: 100%;
    width: 125px;
    justify-content: space-between;
    margin: 0;
    border-radius: 20px;
    align-items:center ;
    justify-content: center;
    display: flex;
}

.A {
    height: 150px;
    width: 400px;
    /*background: rgba(155, 38, 38, 0.66);*/
    box-sizing: border-box;
    display: block;
    margin: 0;
    align-items:center ;

}





